.reversed {
  transform: scaleY(-1)
}

img.small {
  width: 120px;
  height: 198px;
}

img.medium {
  width: 168px;
  height: 276px;
}

img.large {
  width: 360px;
  height: 591px;
}

.back {
  width: 360px;
  height: 591px;
  overflow-y: auto;
}

body {
  background-image: url("./background-image.jpg");
  background-attachment: fixed;
}
