.reversed {
  transform: scaleY(-1);
}

.full-height {
  height: 100%;
  display: flex;
}

img.small {
  width: 120px;
  height: 198px;
}

img.medium {
  width: 168px;
  height: 276px;
}

img.large {
  /* position: absolute; */
  width: 360px;
  height: 591px;
}

img.exrta-large {
  /* position: absolute; */
  width: 480px;
  height: 788px;
}


.back {
  width: 360px;
  height: 591px;
  overflow-y: auto;
}

.button-space {
  margin-right: 5px;
}


body {
  background-image: url("./background-image.jpg");
  background-attachment: fixed;
  height: 100%
}





